
img{
 
}
.d1{
  background: #FFFFFF;
  
}
.container2{
  flex-grow:3;
  background: #F1EBAE;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}
.container3{
  background: dodgerblue;
}
.container {
  font-size: 40px;
  display: flex;
  flex-direction:row; 
  justify-content: space-between;
  
}
.title{
  background:#f37f2d;
  
  font-Weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 20px;


}
footer{
  background: lightgray;
  padding: 20px;
  font-size: 20pt;
  text-align: center;


}
